<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apkstory"
    android:versionCode="1"
    android:versionName="1.0.20131120">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/circle"
        android:label="@string/app_name"
        android:name=".util.MyApplication"
        android:hardwareAccelerated="true"
        android:taskAffinity="android.task.browser">
        <activity
            android:label="@string/app_name"
            android:name=".activity.TopFloatMain"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|keyboard|mcc|mnc"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.speech.action.VOICE_SEARCH_RESULTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- For these schemes were not particular MIME type has been
                 supplied, we are a good candidate. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="content" />
            </intent-filter>
            <!--  For these schemes where any of these particular MIME types
                  have been supplied, we are a good candidate. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <!-- For viewing saved web archives. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-webarchive-xml" />
            </intent-filter>
            <!-- Accept inbound NFC URLs at a low priority -->
            <intent-filter android:priority="-101">
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <!-- We are also the main entry point of the browser. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
            <!-- The maps app is a much better experience, so it's not
                 worth having this at all... especially for a demo!
            <intent-filter android:label="Map In Browser">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/postal-address" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.TopFloatService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.TopFloatService_BaiDu"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.TopFloatService_surfaceView"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.TopFloatService2"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </service>

        <activity
            android:name=".com.vichild.file.ListExplorer"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor">

        </activity>
        <activity
            android:name="com.apkstory.activity.TopFloatVideoView"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.apkstory.activity.TopFloatVideoView2"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".activity.FullScreen"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden" />
        <!--<activity-->
                <!--android:label="PlayingActivity"-->
                <!--android:name=".activity.VideoViewPlayingActivity_old"-->
                <!--android:configChanges="keyboardHidden|orientation"-->
                <!--android:screenOrientation="sensorLandscape"-->
                <!--android:exported="true"-->
                <!--android:theme="@android:style/Theme.NoTitleBar">-->
        <!--</activity>-->

        <activity
                android:label="PlayingActivity"
                android:name=".activity.VideoViewPlayingActivity"
                android:configChanges="keyboardHidden|orientation"
                android:screenOrientation="sensorLandscape"
                android:exported="true"
                android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".tabhost.MainActivity"/>
        <activity android:name=".tabhost.OneActivity"/>
        <activity android:name=".tabhost.TwoActivity"/>
        <activity android:name=".tabhost.ThreeActivity"/>
        <activity android:name=".tabhost.FourActivity"/>
        <activity android:name=".tabhost.FiveActivity"/>

    </application>

</manifest>